html,
body,
* {
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  font-size: 120%;
  font-family: "Gemunu Libre";
  text-align: center;
}

.main-header {
  font-size: 100px;
  letter-spacing: 10px;
}

.parent {
  font-size: 30px;
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}

.child {
  width: 28%;
}

.child-1 {
  border: 5px solid blue;
  height: 300px;
}

.child-2 {
  border: 5px solid red;
  height: 300px;
}

.child-3 {
  border: 5px solid yellow;
  height: 300px;
}

/* .box-image {
  background-position: center;
  background-size: cover;
}

#image-sylas {
  background-image: url(img/sylas.jpg);
}

*/
