html,
body,
* {
  padding: 1rem;
  margin: auto;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Gemunu Libre";
  text-align: center;
  background-color: white;
}

.main-header {
  font-size: 10rem;
  letter-spacing: 2rem;
  color: black;
}

.outline {
  font-size: 10rem;
  display: flex;
  width: 90vw;
  justify-content: space-around;
  align-items: center;
}

.flexbox {
  width: 28%;
  box-shadow: 10px 5px 5px BLACK;
  height: 40rem;
}

.flexbox-text {
  color: black;
}

.flexbox-1 {
  border: 0.5rem solid black;
}

.flexbox-2 {
  border: 0.5rem solid orange;
}

.flexbox-3 {
  border: 0.5rem solid pink;
}

.box-image {
  background-position: center;
  background-size: cover;
  height: 17rem;
  width: 45rem;
}

.music-video {
  font-size: 3rem;
  color: blue;
}

.description-text {
  font-size: 3rem;
  color: black;
}

#image-flamingo {
  background-image: url(img/flamingo.jpg);
}

#image-shinigami {
  background-image: url(img/shinigami.jpg);
}

#image-orion {
  background-image: url(img/orion.jpg);
}

#image-outsider {
  background-image: url(img/outsider.jpg);
}

#image-lastdance {
  background-image: url(img/lastdance.jpg);
}

#image-kaikaikitan {
  background-image: url(img/kaikaikitan.jpg);
}

#image-racing-into-the-night {
  background-image: url(img/racingintothenight.jpg);
}

#image-tracing-that-dream {
  background-image: url(img/tracingthatdream.jpg);
}

#image-kaibutsu {
  background-image: url(img/kaibutsu.jpg);
}
