html,
body,
* {
  padding: 1rem;
  margin: auto;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Gemunu Libre";
  text-align: center;
  animation: opacity 5s;
}

.main-header {
  font-size: 10rem;
  letter-spacing: 2rem;
  color: #000000;
  transition: 5s;
}

.main-header:hover {
  transform: rotate(0.01turn);
  color: #00bcd4;
}

.outline {
  font-size: 10rem;
  display: flex;
  width: 90vw;
  justify-content: space-around;
  align-items: center;
}

.flexbox {
  width: 28%;
  box-shadow: 10px 5px 5px #000000;
  height: 40rem;
  transition: 0.5s;
}

.flexbox:hover {
  transform: scale(1.05);
}

.flexbox-text {
  transition: 2s;
}

.flexbox-text:hover {
  transform: scale(1.2, 1.2);
}

.flexbox-1 {
  border: 0.5rem solid #455a64;
}

.flexbox-2 {
  border: 0.5rem solid #ffc107;
}

.flexbox-3 {
  border: 0.5rem solid #f8bbd0;
}

.flexbox-1:hover {
  border: 0.5rem solid #212121;
}

.flexbox-2:hover {
  border: 0.5rem solid #c27b00;
}

.flexbox-3:hover {
  border: 0.5rem solid #c2185b;
}

.box-image {
  background-position: center;
  background-size: cover;
  height: 17rem;
  width: 45rem;
  transition: 1s;
}

.box-image:hover {
  height: 15rem;
  width: 43rem;
}

.music-video {
  font-size: 3rem;
  color: #3f51b5;
  background-color: #ffffff;
}

.video-button {
  border-color: #3f51b5;
  transition: 0.5s;
  background-color: #ffffff;
}

.video-button:hover {
  transform: scale(1.1);
}

.description-text {
  font-size: 3rem;
  color: #000000;
  transition: 2s;
}

.description-text:hover {
  transform: skew(4deg, 4deg);
}

#image-flamingo {
  background-image: url(img/flamingo.jpg);
}

#image-shinigami {
  background-image: url(img/shinigami.jpg);
}

#image-orion {
  background-image: url(img/orion.jpg);
}

#image-outsider {
  background-image: url(img/outsider.jpg);
}

#image-lastdance {
  background-image: url(img/lastdance.jpg);
}

#image-kaikaikitan {
  background-image: url(img/kaikaikitan.jpg);
}

#image-racing-into-the-night {
  background-image: url(img/racingintothenight.jpg);
}

#image-tracing-that-dream {
  background-image: url(img/tracingthatdream.jpg);
}

#image-kaibutsu {
  background-image: url(img/kaibutsu.jpg);
}

@keyframes opacity {
  0% {
    opacity: 0%;
  }

  10% {
    opacity: 50%;
  }

  50% {
    opacity: 0%;
  }

  75% {
    opacity: 50%;
  }

  90% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
